.m-dps-search {
	.mb(20px);
}

.u-xf {
	background-size: 24px;
	background-repeat: no-repeat;
	.pl(30px);
}
.u-user {
	.pointer;
	.u-img {
		.size(24px);
		.mr(6px);
		.r(6px);
		vertical-align: middle;
	}
}
.m-dps-list {
	.u-name {
		.color(@color);
		&:hover {
			color: #0366d6;
			box-shadow: 0 1px 0 #0366d6;
		}
	}
	.u-mark {
		.fz(12px);
		.r(2px);
        .mr(5px);
		color: #fff; 
		background-color: #6f42c1;
		padding: 1px 5px 2px 5px;
	}
}

.m-dps-more {
	.w(100%);
	.mt(20px);
}

.m-dps-pages {
	.mt(20px);
	overflow-x: auto;
}

.el-table-filter__list {
	max-height: 360px;
	overflow: auto;
}
