.m-bps-story{
    .fz(16px,2.2);
    p{
        .indent(32px);
    }

    .u-person{
        .u-title{
            
        }
        .u-desc{
            .fz(13px);
            margin:0 10px;
            background-color:@bg-gray;
            padding:2px 5px;
            color:@primary;
            .r(3px);
        }
        .u-age{
            .fz(13px);
            color:#888;
            font-weight:normal;
        }
    }
}